[submodule "lib/SocketRocket"]
	path = lib/SocketRocket
	url = git://github.com/square/SocketRocket.git
[submodule "lib/msgpack-objectivec"]
	path = lib/msgpack-objectivec
	url = git://github.com/msgpack/msgpack-objectivec.git
[submodule "lib/CocoaAsyncSocket"]
	path = lib/CocoaAsyncSocket
	url = git://github.com/robbiehanson/CocoaAsyncSocket.git
	url = https://github.com/robbiehanson/CocoaAsyncSocket.git
[submodule "lib/xctest-additions"]
	path = lib/xctest-additions
	url = https://github.com/iheartradio/xctest-additions.git
[submodule "lib/MPMessagePack"]
	path = lib/MPMessagePack
	url = git@github.com:gabriel/MPMessagePack.git
