.DS_Store
MDWamp/build
MDWampTest/build
MDWamp/MDWamp.xcodeproj/project.xcworkspace/xcuserdata/*
MDWamp/MDWamp.xcodeproj/xcuserdata/*
MDWampTest/MDWampTest.xcodeproj/project.xcworkspace/xcuserdata/*
MDWampTest/MDWampTest.xcodeproj/xcuserdata/*
MDWamp.xcodeproj/project.xcworkspace/xcuserdata/niko.usai.xcuserdatad
MDWamp.xcodeproj/xcuserdata/niko.usai.xcuserdatad
demo/hello/__init__.pyc
demo/hello/hello.pyc
WorkspaceSettings.xcsettings
